body{

margin:0;
background:#111;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Lexend;

}

#game{

width:960px;
height:540px;
position:relative;
overflow:hidden;

}

#meja{

width:100%;
height:100%;
image-rendering:pixelated;

}

.item{

position:absolute;
width:70px;
cursor:pointer;

}

#pipetA{

left:80px;
top:60px;

}

#pipetB{

left:140px;
top:60px;

}

#botolA{

left:300px;
top:260px;

}

#botolB{

left:380px;
top:260px;

}

#labu{

position:absolute;
left:520px;
top:260px;
width:110px;

}

#menuBtn{

position:absolute;
right:10px;
top:10px;
width:40px;

}

#infoBtn{

position:absolute;
right:10px;
top:60px;
width:40px;

}

#overlay{

position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
display:none;
justify-content:center;
align-items:center;

}

#menuPopup{

background:#ccc;
padding:30px;
border-radius:10px;

}

.menuButton{

display:block;
margin:10px;
padding:10px 20px;
font-family:Lexend;
background:#999;
border:none;
cursor:pointer;

}
